* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,84,113,1) 35%, rgba(0,212,255,1) 100%);
}

#container {
    width: 800px;
    max-width: 80%;
    /* background-color: lightgrey; */
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    
}

/* .button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

} */

/* .button {
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: perspective(1px) translateZ(0);
} */


.hidden, 
.hide {
    display: none;
}

.options > button {
    padding: 2%;
    margin: 20px 10px;
    width: 20%;
    cursor: pointer;
    border-radius: 10px;

}

.start {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;

}

/* #timer {
    text-align: left;
    margin-left: 10px 10px;
    padding-left: 10px;;
}

#status {
    text-align: right;
} */


ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
padding: 5px;
list-style: decimal inside none;
text-align: left;
}

/* li:nth-child(odd) {
background-color: #f3edfc;
} */

.wrapper {
margin: 100px auto 0 auto;
max-width: 600px;
}

img {
    /* mix-blend-mode: color-burn; */
    mix-blend-mode: multiply;
}