* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container {
    width: 800px;
    max-width: 80%;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}

/* .button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

} */

/* .button {
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: perspective(1px) translateZ(0);
} */


.hidden {
    display: none;
}

.options > button {
    padding: 2%;
    margin: 20px 10px;
    width: 20%;
    cursor: pointer;

}

.start {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;

}

/* #timer {
    text-align: left;
    margin-left: 10px 10px;
    padding-left: 10px;;
}

#status {
    text-align: right;
} */
